    
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <header class="site-navbar py-1" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0"><a href="{% url 'admin-flights' %}" class="text-black h2 mb-0">Admin<strong>Panel</strong></a></h1>
          </div>

          <div class="col-10 col-xl-10 d-none d-xl-block">
            <nav class="site-navigation text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'admin-flights' %}">Flights</a></li>
                <li><a href="{% url 'passenger-list' %}">Passengers</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
            {% if user.is_authenticated %}
                <li>
                    {% if passenger_detail_view or passenger_list_view %}
                        <a href="{% url 'passenger-create' %}">Create</a>
                    {% elif flight_detail_view or flight_list_view %}
                        <a href="{% url 'flight-create' %}">Create</a>
                    {% endif %}

                </li>
                {% if flight_detail_view %}
                    <li><a href="{% url 'flight-update' flight.pk %}">Update</a></li>
                    <li><a href="{% url 'flight-delete' flight.pk %}">Delete</a></li>
                {% elif passenger_detail_view %}
                    <li><a href="{% url 'passenger-update' passenger.passenger.pk %}">Update</a></li>
                    <li class="nav-item"><a href="{% url 'passenger-delete' passenger.passenger.pk %}">Delete</a></li>
                {% endif %}
            {% endif %}
                 <li><a href="{% url 'logout' %}"><span class="rounded bg-primary py-2 px-3 text-white"><span class="h5 mr-2">+</span>Logout</span></a></li>
                </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right d-block">
            
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>